:root {
    --color1: #05b1b1;
    --color2: #52339a;
}

header,
footer,
section {
    padding: 100px 0;
}

header {
    padding: 200px 0;
}

header,
footer {
    background: url(../img/pattern.png), var(--color1);
    background: url(../img/pattern.png), -moz-linear-gradient(left, var(--color1) 0%, var(--color2) 100%);
    background: url(../img/pattern.png), -webkit-linear-gradient(left, var(--color1)1 0%, var(--color2) 100%);
    background: url(../img/pattern.png), linear-gradient(to right, var(--color1) 0%, var(--color2) 100%);
    filter: url(../img/pattern.png), progid:DXImageTransform.Microsoft.gradient(startColorstr=var(--color1), endColorstr=var(--color2), GradientType=1);
    background-size: contain;
}

.li_play {
    background-color: var(--color1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 30px auto;
    transition: all 0.2s ease;
}

.li_play:hover {
    background-color: var(--color2);
}

.li_triangle {
    color: var(--bs-white);
    margin-right: -3px; 
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 20px solid var(--bs-white);
    border-bottom: 10px solid transparent;
}

.btn-li {
    width: 150px;
    display: block;
    min-width: 200px;
    margin: 30px auto 10px; 
    padding: 8px 30px;
    color: var(--bs-white);
    background-color: var(--color2);
}

.btn-li:hover {
    color: var(--bs-white);
    background-color: var(--color1);
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*О курсе*/
.about, .shedule, .author, .buy {
    background-color: #eee;
}
.about i {
    font-size: 25px;
    color: var(--color2);
}
.li_circle {
    margin: 0 auto 15px;
    width: 70px;
    height: 70px;
    border: 3px solid var(--color2);
    border-radius: 50%;
    display: flex;
    padding-top: 13px;
    justify-content: center;
    align-content: center;
}
.line {
    width: 100px;
    height: 3px;
    background-color: var(--color1);
    margin: 15px auto 30px;
}
/*Для кого курс*/
.for h5 {
    padding: 50px;
    border: 3px solid var(--color1);
}
/*Программа курса*/
.accordion-button:not(.collapsed) {
    color: var(--bs-white);
    background-color: var(--color2);
}
.accordion-button:not(.collapsed)::after {
    background-image: url(../img/arrow-down-338-svgrepo-com\ \(1\).svg);  
}
.accordion-button:focus {
    border-color: var(--color1);
    box-shadow: none;
}
/*Процесс обучения*/
.learning h5 {
    padding: 25px;
    border: 3px solid var(--color1);
}
/*Об авторе*/
.author {
    padding-bottom: 0;
}
.li_img {
    min-width: 250px;
}
/*Отзывы о курсе*/
.review_circle {
    background-image: url(../img/people.jpg);
    margin: 0 auto 15px;
    width: 140px;
    height: 140px;
    border: 3px solid var(--color1);
    border-radius: 50%;
    display: flex;
    padding-bottom: 15px;
    justify-content: center;
    align-content: center;
}
.review_line {
    width: 100px;
    height: 3px;
    background-color: var(--color2);
    margin: 0px auto 20px;
}
/*Footer*/
footer {
    padding: 30px 0;
}
/*Цвет*/
.color1 {
    color: var(--color1)
}
.color2 {
    color: var(--color2)
}
.bg1 {
    background-color: var(--color1);
}
.bg2 {
    background-color: var(--color2);
}